body {
  padding: 10px;
  font-family: sans-serif;
}

.header {
  margin-bottom: 20vh;
}

@media(max-width: 844px) {
  .header {
    margin-bottom: 65vh;
  }
}

#header-nav {
  background-color: #46c37b;
  margin-bottom: 10px;
  color: white;
}
